body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.carousel {
  overflow: hidden;
  width: 500px;
  height: 500px;
}

.image-container {
  display: flex;
  transition: transform 0.3s linear;
  transform: translateX(0);
}
img {
  object-fit: cover;
  height: 500px;
  width: 500px;
}
